version: '3.8'

services:
  credgestor-app:
    image: faelsouz/credgestor:latest
    container_name: credgestor-app
    restart: unless-stopped
    ports:
      - "80:80"
    environment:
      - NODE_ENV=production
